<div class="hotel-card">
  <article class="hotel-card__body">
    <div class="hotel-card__image">
      <img alt="hotel room" src="/assets/img/room.jpg">
    </div>
    <div class="hotel-card__content">
      <div>
        <h5>
          <strong>{{hotel.title}}</strong>
        </h5>
        <span class="color-grey">{{hotel.distance}} M FROM THE CITY CENTER</span>
      </div>
      <div>
        <p>
          <strong>&#163;98</strong>
        </p>
        <span class="color-grey">Designs may vary</span>
      </div>
    </div>
  </article>
  <button type="button"
          class="hotel-card__book-button">Book
  </button>
</div>
