<div class="modal">
  <div class="modal-header">
    <h4>
      <span>{{selectedHotel$.value?.title}}</span>
    </h4>
    <button type="button" (click)="closeModal()" class="close-button">
      Close
    </button>
  </div>
  <form>
    <div>
      <div class="modal-input">
        <label for="firstName">First Name</label>
        <input
          id="firstName"
          placeholder="Enter your name"
          type="text"
        />
      </div>
      <div class="modal-input">
        <label for="lastName">Last Name</label>
        <input
          id="lastName"
          placeholder="Enter your last name"
          type="text"
        />
      </div>
      <div class="modal-input">
        <label for="email">Email</label>
        <input
          id="email"
          placeholder="Enter your email"
          type="email"
        />
      </div>
    </div>
    <button
      class="submit-booking"
    >
      Book
    </button>
  </form>
</div>
